---
import TitleSection from "../Text-Section/Title-Section.astro";
---

<section>
  <TitleSection
    text="Trusted by over 700 million registered users and 600,000 teams"
    subtext="Look some customer reviews"
  />
</section>

<style lang="scss">
  section {
    background-color: #1e1919;
    color: #f7f5f2;
  }
</style>
